.container {
  margin: 0 auto;
  width: 1280px;
  padding-left: 80px;
  padding-right: 80px;
}

.pageTitle {
  display: none;
  margin-top: 34px;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #c9c2af;
  margin-left: 37px;
}

.pageContainer {
  padding-top: 67px;
  margin: 0 auto;
  width: 704px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.assetContainerOne {
  position: relative;
  margin-right: 41px;
  width: 336px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.photoOne {
  width: 336px;
  height: 409px;

  cursor: zoom-in;
  transition: all 100ms linear;
  animation-name: photosAppearing;
  animation-duration: 1s;
}

.photoOne:hover {
  transform: scale(1.01);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.frameOne {
  position: absolute;
  top: -27px;
  right: 5px;
  width: 358px;
  height: 450px;

  pointer-events: none;
  border: 1px solid #000000;
}

.titleOne {
  position: absolute;
  bottom: 290px;
  left: -310px;
  font-family: 'Cambo';
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;

  color: #858585;

  transform: rotate(-90deg);
}

.nameOne {
  display: block;
  margin-top: 22px;

  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #000000;
}

.roleOne {
  color: #c9c2af;
}

.assetContainerTwo {
  position: relative;
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.photoTwo {
  width: 327px;
  height: 475px;
  z-index: 2;
  cursor: zoom-in;
  transition: all 100ms linear;
  animation: photosAppearing 1s;
}

.photoTwo:hover {
  transform: scale(1.01);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.frameTwo {
  position: absolute;
  width: 358px;
  height: 450px;
  bottom: 55px;
  right: -40px;
  z-index: 1;
  border: 1px solid #000000;
}

.titleTwo {
  position: absolute;
  bottom: 81px;
  right: 7px;
  z-index: 2;

  font-family: 'Cambo';
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.085em;

  color: #ffffff;
}

.nameTwo {
  display: block;
  margin-top: 25px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #000000;
}

.roleTwo {
  display: block;
  color: #c9c2af;
}

.assetContainerThree {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 41px;
  width: 217px;
}

.photoThree {
  width: 217px;
  height: 375px;
  margin-top: -53px;
  z-index: 1;
  cursor: zoom-in;
  transition: all 100ms linear;
  animation: photosAppearing 1s;
}

.photoThree:hover {
  transform: scale(1.01);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.frameThree {
  position: absolute;
  top: -25px;
  right: 25px;
  width: 224px;
  height: 359px;
  border: 1px solid #000000;
}

.titleThree {
  position: absolute;
  bottom: 215px;
  right: 85px;
  font-family: 'Cambo';
  font-weight: 400;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0.085em;
  color: #d6d6d6;

  transform: rotate(-90deg);
}

.nameThree {
  display: block;
  margin-top: 24px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #000000;
}

.roleThree {
  display: block;
  color: #c9c2af;
}

.assetContainerFour {
  position: relative;
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.photoFour {
  margin-top: 32px;
  width: 327px;
  height: 242px;
  z-index: 1;
  cursor: zoom-in;
  transition: all 100ms linear;
  animation: photosAppearing 1s;
}

.photoFour:hover {
  transform: scale(1.01);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.frameFour {
  position: absolute;
  top: 46px;
  left: 14px;
  width: 349px;
  height: 237px;
  border: 1px solid #000000;
}

.titleFour {
  position: absolute;
  top: -15px;
  left: 0;
  font-family: 'Cambo';
  font-weight: 400;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0.125em;
  color: #adadad;
}

.nameFour {
  display: block;
  margin-top: 32px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.roleFour {
  display: block;
  color: #c9c2af;
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .container {
    width: 704px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .pageTitle {
    display: block;
  }

  .pageContainer {
    padding-top: 48px;
    width: 550px;
    margin-left: 106px;
  }

  .assetContainerOne {
    width: 262.67px;
    margin-right: 32px;
  }

  .photoOne {
    width: 262.67px;
    height: 315.99px;
  }

  .frameOne {
    top: -23px;
    width: 279.87px;
    height: 347.66px;
  }

  .titleOne {
    font-size: 46px;
    line-height: 52px;
    bottom: 265px;
    left: -230px;
  }

  .assetContainerTwo {
    width: 255px;
  }

  .photoTwo {
    width: 255.63px;
    height: 366.98px;
  }

  .frameTwo {
    width: 279.87px;
    height: 347.66px;
    bottom: 60px;
    right: -33px;
  }

  .titleTwo {
    font-size: 24px;
    line-height: 27px;
  }

  .assetContainerThree {
    margin-right: 32px;
    width: 170px;
  }

  .photoThree {
    margin-top: -35px;
    width: 169.64px;
    height: 289.72px;
  }

  .frameThree {
    top: -15px;
    right: 15px;
    width: 175.11px;
    height: 277.36px;
  }

  .titleThree {
    display: none;
  }

  .assetContainerFour {
    width: 255.63px;
  }

  .photoFour {
    width: 255.63px;
    height: 187px;
  }

  .frameFour {
    width: 272.83px;
    height: 183.1px;
  }

  .titleFour {
    top: -6px;
    font-size: 32px;
    line-height: 36px;
  }
}

@media screen and (max-width: 767.9px) {
  .container {
    width: 358px;
    padding-left: 1px;
    padding-right: 1px;
  }

  .pageTitle {
    display: block;
    margin-top: 40px;
  }

  .pageContainer {
    padding-top: 42px;
    width: 262px;
    flex-direction: column;
    align-items: flex-end;
  }

  .assetContainerOne {
    margin-right: 0;
    width: 285px;
  }

  .photoOne {
    width: 262.67px;
    height: 315.99px;
  }

  .frameOne {
    top: -19px;
    right: 5px;
    width: 279.87px;
    height: 347.66px;
  }

  .titleOne {
    bottom: 195px;
    left: -175px;
    font-size: 40px;
    line-height: 45px;
  }

  .nameOne {
    margin-top: 19px;
  }

  .assetContainerTwo {
    margin-right: 29px;
    margin-top: 32px;
    width: 255.63px;
  }

  .photoTwo {
    width: 255.63px;
    height: 366.98px;
  }

  .frameTwo {
    width: 279.87px;
    height: 347.66px;
    bottom: 55px;
    right: -29px;
  }

  .titleTwo {
    bottom: 72px;
    right: 38px;
    font-size: 24px;
    line-height: 27px;
  }

  .nameTwo {
    margin-top: 19px;
  }

  .assetContainerThree {
    margin-top: 28px;
    margin-right: 65px;
    width: 169.64px;
  }

  .photoThree {
    width: 169.64px;
    height: 289.72px;
    margin-top: 0;
  }

  .frameThree {
    top: 25px;
    right: 20px;
    width: 175.11px;
    height: 277.36px;
  }

  .titleThree {
    display: none;
  }

  .assetContainerFour {
    margin-top: 69px;
    margin-right: 40px;
    width: 255.63px;
  }

  .photoFour {
    margin-top: 0;

    width: 255.63px;
    height: 186.97px;
  }

  .frameFour {
    top: 10px;
    left: 10px;
    width: 272.83px;
    height: 183.1px;
  }

  .nameFour {
    margin-top: 24px;
    margin-bottom: 20px;
  }

  .titleFour {
    font-size: 32px;
    line-height: 36px;
    top: -38px;
    left: 0;
  }
}

@keyframes photosAppearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
