.footerEmail {
  display: none;
  font-family: 'Inter';
  font-size: 16px;
  line-height: 19px;

  color: #000000;

  border-top: 1px solid #e4e4e4;
  padding-top: 42px;
  padding-bottom: 38px;
  text-align: center;
}

@media screen and (max-width: 767.9px) {
  .footerEmail {
    display: block;
  }
}
